.portfolio {
    margin: 0 0 2rem;
    &:first-child {
      margin-top: -.5rem;
    }
    &:last-child {
        margin-bottom: 0;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: .5rem;
        border-bottom: 1.5px solid rgba(255,255,255,0.1);
    }
    &__title {
        display: flex;
        margin: 1rem 1rem 0 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.15);
        font-size: 1.2rem;
        font-weight: 600;
        span {
            margin-right: .5rem;
            padding: 4px 7px;
            border-radius: 2px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.15);
            background: rgba(255,255,255,0.15);
            font-size: .8rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    &__links {
        margin-top: 1rem;
    }
    &__link {
        display: inline-block;
        color: #47F4CF;
        font-size: 1rem;
        text-decoration: none;
        opacity: .8;
        i {
            transition: .3s;
        }
        &:hover {
            text-decoration: none;
            color: #47F4CF;
            i {
                transform: rotate(360deg) scale(1.2);
            }
        }
        &--about {
            i {
                font-size: 1.4rem;
            }
        }
        &--live {
            i {
                font-size: 1.2rem;
            }
        }
        &--git {
            i {
                font-size: 1.4rem;
            }
        }
    }
    &__date {
      margin-top: -.5rem;
      margin-bottom: .5rem;
      font-size: .8rem;
      color: darken(#47F4CF, 30%);
    }
    &__content {
      margin-top: .5rem;
        font-size: .9rem;
        p {
          font-size: .9rem;
        }
        a {
            color: #47F4CF;
            text-decoration: underline;
            &:hover {
              color: #47F4CF;
            }
        }
        strong {
            color: #47F4CF;
        }
    }

    &__image {
        border-radius: 4px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
        transition: .3s;
        &:hover {
            box-shadow: 3px 3px 65px rgba(0,0,0,0.35);
            transform: scale(1.015);
        }
    }

    &__ul {
      margin-top: .5rem;
      list-style: none;
        li {
            margin-bottom: .3rem;
            &::before {
              content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
              color: #47F4CF; /* Change the color */
              font-weight: bold; /* If you want it to be bold */
              display: inline-block; /* Needed to add space between the bullet and the text */
              width: 1em; /* Also needed for space (tweak if needed) */
              margin-left: -1em; /* Also needed for space (tweak if needed) */
              font-size: 1.2rem;
              line-height: 1;
            }
        }

    }
}
