.subpage {
  &__link {
    display: block;
    margin-bottom: .75rem;
    font-size: 1.75rem;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    transition: .3s;
    &:hover {
      color: inherit;
      text-decoration: none;
      transform: translateX(12px);
    }
  }
}
