.skills-list {
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    list-style: none;
    color: #47F4CF;
    font-size: 1.2rem;
    text-transform: uppercase;
    i {
        display: inline-block;
        margin-right: .5rem;
        color: #fff;
        font-size: 1.7rem;
    }
    &__item {
        margin-bottom: 1rem;
        &--inner {
            margin: .6rem 0;
            color: #fff;
            font-size: 1.2rem;
        }
        &:not(.skills-list__item--inner):last-child {
            margin-bottom: 0;
            li {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &--inner {
        padding-left: 3rem;
        list-style: circle;
        a {
            font-size: 1rem;
            color: #fff;
            text-decoration: none;
            transition: .3s;
            &:hover {
                color: #47F4CF;
                text-decoration: none;
            }
        }
    }
}
