@import '../../styles/bootstrap-utilities';

.contribution {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0 2rem;
    &:last-child {
        margin-bottom: 0;
    }

    &__presentation {
        width: 90px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__image {
        max-width: 100%;
        width:60px; height:60px;
        margin-bottom: .3rem;
    }
    &__title {
        font-size: .9rem;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__description {
        width: calc(100% - 110px);
        padding-left: .5rem;
        @include media-breakpoint-up(md) {
            padding-left: 1rem;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        color: #47F4CF;
        text-decoration: none !important;
        i {
            display: none;
            transition: .45s;
            color: rgba(255, 255, 255, 0.7);
            @include media-breakpoint-up(sm) {
                display: inline-block;
            }
        }
        .fa-npm {
            margin-right: .5rem;
            font-size: 2rem;
        }
        .fa-github {
            margin-right: .5rem;
            font-size: 1.7rem;
        }
        &:hover {
            color: #47F4CF;
            text-decoration: none;
            i {
                transform: rotate(360deg);
            }
        }
    }
    p {
        margin: .5rem 0;
        font-size: .8rem;
        @include media-breakpoint-up(sm) {
            font-size: .9rem;
        }
    }
    a {
      text-decoration: underline;
    }
}
