@import '../../styles/bootstrap-utilities';

.sidebar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include media-breakpoint-down(sm) {
    padding-top: 0;
    padding-bottom: 0;
  }
  &__row {
    &--logo {
      transform: translateX(51px) translateY(28px) rotate(-35deg);
      @include media-breakpoint-down(lg) {
        transform: translateX(30px) translateY(28px) rotate(-35deg);
      }
      @include media-breakpoint-down(md) {
        transform: translateX(-24px) translateY(49px) rotate(-35deg);
      }
      @include media-breakpoint-down(sm) {
        transform: none;
      }
    }
    &--social-icons {
      transform: translateY(-10px);
      @include media-breakpoint-down(lg) {
        transform: translateY(-5px);
      }
      @include media-breakpoint-down(md) {
        transform: translateY(0);
      }
      @include media-breakpoint-down(sm) {
        transform: none;
      }
    }
  }

  &__logo {
    width: 230px;
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 300px;
    }
  }
}
