@import '../../styles/bootstrap-utilities';

.social-icons {
  display: inline-block;
  &__icon {
    display: block;
    color: #fff;
    font-size: 2rem;
    transition: transform 0.5s ease 0s;
    @include media-breakpoint-down(sm) {
      display: inline-block;
      margin: .5rem;
    }
    &:hover {
      color: inherit;
      transform: rotate(1turn);
    }
  }
}
